.container-fluid
  .row
    %main.col-sm-9.ml-sm-auto.col-md-10.pt-3{:role => "main"}
      %h1 Dashboard
      %section.row.text-center.placeholders
        .col-6.col-sm-3.placeholder
          %img.img-fluid.rounded-circle{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=", :width => "200"}/
          %h4 Label
          .text-muted Something else
      %h2 Section title
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Header
              %th Header
              %th Header
              %th Header
          %tbody
            %tr
              %td 1,001
              %td Lorem
              %td ipsum
              %td dolor
              %td sit
